
	<!-- Page top section -->
	<section class="page-top-section set-bg" style="background-image: url(assets/TemIndex/img/page-top-bg/4.jpg)">
		<div class="page-info">
			<h2>Form Product</h2>
			<div class="site-breadcrumb">
				<a routerLink="/">Home</a>  /
				<span>Form Product</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->

 
	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">	
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1"> 
					<form class="contact-form" (ngSubmit)="onSubmit()" #localForm="ngForm">

						<input
						  type="number"
						  [(ngModel)]="product.id"
						  name="id"
						  #localid="ngModel"
						  placeholder="id"
						  required
						/>

						<div class="selectdiv">
						  <select
							type="text"
							required
							[(ngModel)]="product.GName"
							name="GName"
							#localGName="ngModel"
						  >
							<option *ngFor="let item of Service._game">
							  {{ item.gName }}
							</option>
						  </select>
						</div> 
						<input readonly type="text" />

						<input
						  type="text"
						  [(ngModel)]="product.imgGame"
						  name="imgGame"
						  #localImg="ngModel"
						  placeholder="Image (link address)"
						  required
						/>
						<div *ngIf="product.imgGame">
						  <img
							style="width:360px;"
							src="{{ product.imgGame }}"
							alt=""
						  />
						</div>

						<input
						  type="number"
						  [(ngModel)]="product.Price"
						  name="Price"
						  #localPrice="ngModel"
						  placeholder="Price"
						  required
						/>

						<textarea
						  [(ngModel)]="product.detail"
						  name="detail"
						  placeholder="Details"
						  #localDetail="ngModel"
						  required
						></textarea>

						<input
						  type="text"
						  [(ngModel)]="product.UserName"
						  name="UserName"
						  placeholder="Username"
						  #localUsername="ngModel"
						  required
						/>

						<input
						  type="text"
						  [(ngModel)]="product.email"
						  name="email"
						  placeholder="Email"
						  #localEmail="ngModel"
						  required
						  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  
						/>

						<input
						  type="text"
						  [(ngModel)]="product.facebook"
						  name="facebook"
						  placeholder="Link Facebook"
						  #localFacebook="ngModel"
						/>

						<input
						  type="text"
						  [(ngModel)]="product.tel"
						  name="tel"
						  placeholder="Telephone"
						  #localTel="ngModel"
						  type="number"
						  required minlength="10" maxlength="10"
						/>
						<button [disabled]="localForm.form.invalid" [ngClass]="{'text-danger': localForm.form.invalid}" class="site-btn" style="color:green;">
							<i style="font-size:20px;" class="far fa-meh" [ngClass]="{'fa-smile-beam':!localForm.form.invalid}"></i>
						  Add Product<img
							src="assets/TemIndex/img/icons/double-arrow.png"
							alt="#"
						  />
						</button>
					  </form>
				</div>


				<div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Form Product</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
					<div class="cont-info">
						<div class="ci-icon"><img src="assets/TemIndex/img/icons/location.png" alt=""></div>
						<div class="ci-text">ComSci</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="assets/TemIndex/img/icons/phone.png" alt=""></div>
						<div class="ci-text">0879454565</div>
					</div>
					<div class="cont-info">
						<div class="ci-icon"><img src="assets/TemIndex/img/icons/mail.png" alt=""></div>
						<div class="ci-text">arm@gmail.com</div>
					</div>

					<div *ngIf="localid.invalid && (localid.dirty || localid.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localid.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Id</i></div> 
					</div>

					<div *ngIf="localGName.invalid && (localGName.dirty || localGName.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localGName.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Select Game</i></div> 
					</div>

					<div *ngIf="localImg.invalid && (localImg.dirty || localImg.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localImg.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Image</i></div> 
					</div>

					<div *ngIf="localPrice.invalid && (localPrice.dirty || localPrice.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localPrice.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Price</i></div>
					</div>

					<div *ngIf="localDetail.invalid && (localDetail.dirty || localDetail.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localDetail.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Detail</i></div>
						<div ></div>
					</div>

					<div *ngIf="localUsername.invalid && (localUsername.dirty || localUsername.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localUsername.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Username</i></div>
					</div>

					<div *ngIf="localEmail.invalid && (localEmail.dirty || localEmail.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localEmail.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Email</i></div>
						<div *ngIf="localEmail.errors?.pattern" class="ci-text"><i class="fas fa-exclamation-circle"> Invalid email</i></div>
					</div>

					<div *ngIf="localTel.invalid && (localTel.dirty || localTel.touched)" style="color: rgb(255, 73, 73);" class="cont-info">
						<div *ngIf="localTel.errors?.required" class="ci-text"><i class="fas fa-exclamation-circle"> Please Enter Telephone</i></div>
						<div *ngIf="localTel.errors?.minlength" class="ci-text"><i class="fas fa-exclamation-circle"> The phone number is incomplete</i></div>
						<div *ngIf="localTel.errors?.maxlength" class="ci-text"><i class="fas fa-exclamation-circle"> Phone numbers up to 10</i></div> 
					</div>
				</div> 
			</div>
		</div>
	</section>
	<!-- Contact page end-->

	